
.site-footer {
    background: url(../../images/dark-wood.png);
    background-size: 350px 512px;
    color: #fff;
    height: 350px;
}
.overall-block {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}
.block{
  h3 {
    color: #d99054;
  }
}

.contact-info {
  margin-left: 50px;
  line-height: 1.5;
  a {
    text-decoration: none;
    color: white;
    &:hover {
      text-decoration: underline;
    }
  }
  i {
    font-size: 1.25rem;
    padding-right: 7px;
  }
}
.business-hours {
  margin-left: 50px;
  line-height: 1.5;
  .days {
    font-weight: bold;
  }
}
.footer-logo {
  max-width: 50%;
  margin-left: 250px;
}
.site-info {
  font-family: $font__pre;
  text-transform: uppercase;
  text-align: center;
  color: white;
  margin-top: 30px;
  .year {
    font-size: 0.8rem;
  }
}
