
// Navigation
.home .site-header, .page-template-about .site-header, .single-adventure .site-header {
  background-color: transparent;
  border-bottom: 0;
  text-shadow: 1px 1px 2px #323232;
  position: absolute;
  a, i {
    color: white;
    padding: 4px;
    &:hover {
      color: #f0e4d1;
    }
    &:visited {
      color: white;
      &:hover {
      color: #f0e4d1;
      }
    }
  }
  input[type=search] {
    color: white;
  }
  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color: #f0e4d1;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color: #f0e4d1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
     color: #f0e4d1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
     color: #f0e4d1;
  }
}

.site-header {
  height: 50px;
  position: fixed;
  display: flex;
  justify-content: space-around;
  padding: 0 0 0 150px;
  z-index: 999;
  width: 100%;
  background: rgba(255, 255, 255, 0.74);
  border-bottom: 1px solid #e1e1e1;
  a, i {
    color: $color__link;
    padding: 4px;
    &:hover {
      color: $color__link-visited;
    }
    &:visited {
      color: $color__link;
      &:hover {
        color: $color__link-visited;
      }
    }
  }
  .fa-search {
  line-height: 1.5;
  margin-right: 5px;
  cursor: pointer;
  }
  input[type=search] {
    background: transparent;
    text-transform: uppercase;
    font-family: 'novocento', sans-serif;
    border: 0;
    outline: none;
    width: 200px;
    display: none;
  }
  fieldset {
    margin: 0;
    padding: 0;
  }
}
.site-header-fixed {
  height: 50px;
  border-bottom: 0;
  position: fixed;
  display: flex;
  justify-content: space-around;
  padding: 0 0 0 150px;
  z-index: 999;
  width: 100%;
  background: rgba(255, 255, 255, 0.74);
  border-bottom: 1px solid #e1e1e1;
  a, i {
    color: $color__link;
    padding: 4px;
    &:hover {
      color: $color__link-visited;
    }
    &:visited {
      color: $color__link;
      &:hover {
        color: $color__link-visited;
      }
    }
  }
  .fa-search {
  line-height: 1.5;
  margin-right: 5px;
  cursor: pointer;
  }
  .site-title-fixed {
    background: url(../../images/logos/inhabitent-logo-tent.svg) no-repeat;
    background-size: 50px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-indent: 100%;
    margin: 0;
    position: absolute;
    top: 10px;
    left: 150px;
  }
  input[type=search] {
    background: transparent;
    color: #f0e4d1;
    text-transform: uppercase;
    font-family: 'novocento', sans-serif;
    border: 0;
    outline: none;
    width: 200px;
    display: none;
  }
  fieldset {
    margin: 0;
    padding: 0;
  }
}

.home .site-title, .page-template-about .site-title, .single-adventure .site-title {
  background: url(../../images/logos/inhabitent-logo-tent-white.svg) no-repeat;
  background-size: 50px;
  height: 50px;
  width: 50px;
  overflow: hidden;
  text-indent: 100%;
  margin: 0;
  position: absolute;
  top: 10px;
  left: 150px;
}
.site-title {
  background: url(../../images/logos/inhabitent-logo-tent.svg) no-repeat;
  background-size: 50px;
  height: 50px;
  width: 50px;
  overflow: hidden;
  text-indent: 100%;
  margin: 0;
  position: absolute;
  top: 10px;
  left: 150px;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 0 20px;
  margin-bottom: 20px;
}
