/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/

@font-face {
    font-family: 'merriweather';
    src: url('../../fonts/merriweather/merriweather-bold-webfont.woff2') format('woff2'),
         url('../../fonts/merriweather/merriweather-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'merriweather';
    src: url('../../fonts/merriweather/merriweather-bolditalic-webfont.woff2') format('woff2'),
         url('../../fonts/merriweather/merriweather-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'merriweather';
    src: url('../../fonts/merriweather/merriweather-light-webfont.woff2') format('woff2'),
         url('../../fonts/merriweather/merriweather-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
