.site-footer {
    background: url(../../images/dark-wood.png);
    background-size: 350px 512px;
    color: #fff;
    height: 350px;
}
.site-info {
  text-transform: uppercase;
  text-align: center;
  color: white;
}
