/* Error 404 Page */

.error-whole-page {
  display: flex;
}
.error-404 .error-content{
  display: flex;
  flex-direction: column;
  width: 73%;
  a {
    &:visited {
      color: $color__link;
      &:hover {
        color: $color__link-visited;
      }
    }
  }
  ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
  }
}
.search-form {
  fieldset {
    border:0;
  }
}
