
/* Front page */

.content-area-front {
  h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: normal;
  }
}
.home .home-hero {
  background: linear-gradient(180deg,rgba(0,0,0,.4)  0,rgba(0,0,0,.4)), url(../../images/home-hero.jpg) no-repeat center;
  background-size: cover, cover;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  height: 275px;
}

// Journal Post

.journal-post {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  .journal-picture {
    background: #e1e1e1;
  }
  img {
    height: 250px;
    width: auto;
    max-width: none;

  }
  li {
    margin-right: 10px;
    border: 1px solid #e1e1e1;
    margin-bottom: 0;
  }
  .journal-info {
    background: white;
    padding-bottom: 20px;
    margin: 0.75rem;
    span {
      font-size: .8rem;
    }
    a {
      margin-bottom: 3rem;
    }
    h3 {
    font-size: 1.3rem;
    margin: 0;
    padding-bottom: 20px;
    a {
      color: $color__link;
      &:hover {
        color: $color__link-visited;
      }
    }
    }

  }
  .moretag {

  }
}

// Latest Adventures

.adventures {
  margin-bottom: 70px;
  h3 {
    a {
      color: white;
      font-family: $font__main;
      text-transform: none;
      font-size: 2rem;
      font-weight: 400;
      &:hover {
        color: #f0e4d1;
      }
    }
  }
  p {
    padding-top: 40px;
  }
  a {
    text-decoration: none;
  }
  ul {
  list-style: none;
  display: inline;
  padding-left: 0;
  margin-left: 0;
  li {
    &:first-child {
      width: 49%;
      float: left;
    }
    &:nth-child(2) {
      width: 49%;
      float:right;
    }
    &:nth-child(3) {
      width: 24%;
      float: right;
      margin-left: 1%;
      margin-top: 1.75%;
    }
    &:last-child {
      width: 24%;
      float: right;
      margin-top: 1.75%;
    }
  }
  }
}
.canoe {
  background:
  linear-gradient(
  rgba(0, 0, 0, 0.25),
  rgba(0, 0, 0, 0.25)
  ),
  url(../../images/adventure/canoe-girl.jpg) no-repeat center center;
  background-size: cover, cover;
  height: 620px;
}
.bonfire {
  background:
  linear-gradient(
  rgba(0, 0, 0, 0.25),
  rgba(0, 0, 0, 0.25)
  ),
  url(../../images/adventure/beach-bonfire.jpg) no-repeat center center;
  background-size: cover, cover;
  height: 300px;
}
.hikers {
  background:
  linear-gradient(
  rgba(0, 0, 0, 0.25),
  rgba(0, 0, 0, 0.25)
  ),
  url(../../images/adventure/mountain-hikers.jpg) no-repeat center center;
  background-size: cover, cover;
  height: 300px;
}
.night-sky {
  background:
  linear-gradient(
  rgba(0, 0, 0, 0.25),
  rgba(0, 0, 0, 0.25)
  ),
  url(../../images/adventure/night-sky.jpg) no-repeat center center;
  background-size: cover, cover;
  height: 300px;
}
.story-wrap {
  position: relative;
  .story-info {
    position: absolute;
    top: 0;
    left: 20px;
  }
}
.readtag {
  border: 1px solid white;
  padding: 12.5px 25px;
  font-family: $font__pre;
  text-transform: uppercase;
  color: white;
  font-size: 0.9rem;
  &:hover {
    background-color: $color__link;
    color: white;
    border: 1px solid $color__link;
    outline: 0;
  }
  &:active {
    outline: 0;
  }
  &:visited {
    color: black;
    &:hover {
      color:white;
    }
  }
}

.more-adventures {
  padding: 12.5px 25px;
  font-family: $font__pre;
  text-transform: uppercase;
  color: white;
  font-size: 1.1rem;
  background-color: $color__link;
  &:hover {
    background-color: $color__link-hover;
    color: white;
  }
  &:visited {
    color: white;
    &:hover {
      color:white;
    }
  }
}
