/* Front page */

.content-area-front {
  h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: normal;
    padding: 30px 0;
  }
} // .content-area-front
.home .home-hero {
  background: linear-gradient(180deg,rgba(0,0,0,.4)  0,rgba(0,0,0,.4)), url(../../images/home-hero.jpg) no-repeat center;
  background-size: cover, cover;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  height: 275px;
}

/* Shop Stuff */

.shop-stuff {
  display: flex;
  justify-content: center;
}
.product-block {
  border: 1px solid #e1e1e1;
  border-top-width: 5px;
  width: 250px;
  text-align: center;
  margin: 10px;
  padding: 20px 0;
  &:hover {
    border-color:#d99054;
  }
  img {
    height: 70px;
    width: auto;
  }
}

/* Journal Post */

.journal-post {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  .journal-picture {
    background: #e1e1e1;
  }
  img {
    height: 250px;
    width: auto;
    max-width: none;

  }
  li {
    margin-right: 10px;
    border: 1px solid #e1e1e1;
    margin-bottom: 0;
  }
  .journal-info {
    background: white;
    padding-bottom: 20px;
    margin: 0.75rem;
    span {
      font-size: .8rem;
    }
    a {
      margin-bottom: 3rem;
    }
    h3 {
    font-size: 1.3rem;
    margin: 0;
    padding-bottom: 20px;
    a {
      color: $color__link;
      &:hover {
        color: $color__link-visited;
        }
      }
    }
  }
} // .journal-post

/* Latest Adventures */

.adventures {
  margin-bottom: 70px;
  h3 {
    a {
      color: white;
      font-family: $font__main;
      text-transform: none;
      font-size: 2rem;
      font-weight: 400;
      &:hover {
        color: #f0e4d1;
      }
    }
  }
  p {
    padding-top: 40px;
  }
  a {
    text-decoration: none;
  }
  img {
    max-height: 620px;
    max-width: none;
    width: auto;
    z-index: -1;
    position: relative;
    display: block;
  }
  ul {
    list-style: none;
    display: inline;
    padding-left: 0;
    margin-left: 0;
    li {
      h3 a {
        margin-bottom: 20px;
      }
      &:first-child {
        width: 49%;
        float: left;
        h3 a {
          font-size: 2.75rem;
          line-height: 1;
        }
      }
      &:nth-child(2) {
        width: 49%;
        float:right;
        img {
          height: 300px;
          width: 100%;
        }
        h3 a {
          font-size: 2.25rem;
          line-height: 1;
        }
      }
      &:nth-child(3), &:last-child {
        width: 24%;
        float: right;
        margin-left: 1%;
        margin-top: 1.75%;
        font-size: 1rem;
        img {
          height: 300px;
        }
        h3 a {
          font-size: 1.5rem;
          line-height: 1;
        }
      }
    } // li
  } // ul
} // .adventures

.story-wrap {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  .adventure-image{
    background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.25) 100%);
    padding: 0;
  }
  .story-info {
    position: absolute;
    top: 0;
    left: 20px;
    padding: 20px 10px;
  }
}
.readtag {
  border: 1px solid white;
  padding: 12.5px 25px;
  font-family: $font__pre;
  text-transform: uppercase;
  color: white;
  font-size: 0.9rem;
  &:hover {
    background-color: $color__link;
    color: white;
    border: 1px solid $color__link;
    outline: 0;
  }
  &:active {
    outline: 0;
  }
  &:visited {
    color: white;
    &:hover {
      color:white;
    }
  }
} //.readtag

.button {
  padding: 12.5px 25px;
  font-family: $font__pre;
  text-transform: uppercase;
  color: white;
  font-size: 1.1rem;
  background-color: $color__link;
  &:hover {
    background-color: $color__link-hover;
    color: white;
  }
  &:visited {
    color: white;
    &:hover {
      color:white;
    }
  }
} // .button
