.login h1 a {
    background-image:  url(./images/inhabitent-logo-text-dark.svg);
    background-size: 300px;
    background-position: center top;
    background-repeat: no-repeat;
    color: #444;
    height: 84px;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.3em;
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    width: 300px;
    text-indent: -9999px;
    outline: none;
    overflow: hidden;
    display: block;
}
